footer {
  background: #333;
}

footer>div {
  padding: 10px;
  display: block;
}

footer>div {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
}

footer>div ul {
  margin-right: 50px;
}

footer>div ul,
footer>div li {
  display: block;
  list-style: none;
  color: #fff;
  text-align: left;
  padding: 0;
}

footer>div li.title {
  font-weight: bold;
  font-size: 13px;
}

footer>div li ul {
  margin-top: 10px;
  border-left: 1px solid rgba(93, 93, 94, 0.9);
  padding-left: 15px;
}

footer li a {
  font-size: 9px;
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 20px;
  border-bottom: solid 0.25px #333; 
}
footer li a:hover {
  border-bottom: solid 0.25px #ececec;
  transition: border-bottom .4s linear;
}
