header {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.5);
}

header>div:not(.overlay) {
  font-size: 16px;
  z-index: 110;
}
header>div.overlay {
  background: #7ebae0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
}