.section ul {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.section ul, .section li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section li {
  width: 14.50%;
  height: 20px;
  line-height: 22px;
  flex-grow: 1;
  color: #000;
  font-size: 12px;
  padding: 4px 10px;
  margin-right: 4px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.section li input[type="text"] {
  display: block;
  border: none;
  width: 100%;
  height: 18px;
  font-size: 12px;
  padding-left: 5px;
  background: #eee;
}

.section li:hover {
  background: #7ebae0;
  color: #fff;
}

.headr li, .headr li:hover {
  color: #fff;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  background: #000;
  padding: 8px 13px;
}

.section li.edit {
  position: relative;
  width: 50px;
  text-align: center;
}

.section li.edit label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 32px;
}
.section li.edit input {
  margin: 0;
  padding: 0;
  font-size: inherit;
  height: 10px;
}

.section li span input,
.section li span {
  font-size:8px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 20px;
}

.section li span input {
  float: right;
}

.buttons-group {
  text-align: center;
  overflow: hidden;
  clear: both;
  margin-top: 8px;
}

.buttons-group button {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: green;
  font-size: 13px;
  color: #fff;
  padding: 7px 10px;
  margin: 5px;
  min-width: 100px;
}

.buttons-group button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.buttons-group button[disabled] {
  background: #ccc;
  color: #ececec;
  cursor: default;
}

.form {
  display: block;
  width: 320px;
  margin: 8px auto 0 auto;
}

.form >div { 
    display: block; 
    font-size: 12px; 
    margin-bottom: 5px;
    clear: both;
    overflow: hidden;
  }
.form >div label {width: 100px}
.form >div input {
    float: right;
    width: 205px;
    font-size: 12px; 
    padding-left: 5px;
  }
.form >div label, .form >div input { display: inline-block} 
.form >div input::placeholder {
  font-size: 11px;
  color: #eee;
}